PORT=
CORS_ORIGIN=
CLIENT_URL=
MONGODB_URI=
DB_NAME=
NODE_ENV=
RESEND_API_KEY=
MAIL_FROM=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=